#canvas1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -4;
    filter:url(#goo);
    opacity: 1;
}
#canvas2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -5;
    opacity: 1;
}

svg {
    display: none;
}
